{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jasmine" : true
  },
  "globals" : {
    "adz": true,
    "jQuery": true,

    "ReactElement": true,
    "SyntheticEvent": true,
    "SyntheticKeyboardEvent": true,
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true,
    "spread": true
  },
  "rules": {
    "constructor-super": 2,
    "comma-spacing": 2,
    "comma-dangle": 0,
    "semi-spacing": 0,
    "object-curly-spacing": [2, "always", {
      "objectsInObjects": false,
      "arraysInObjects": false
    }],
    "no-this-before-super": 2,
    "space-before-blocks": 2,
    "space-after-keywords": 2,
    "no-multi-spaces": 2,
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "dot-notation": [2, { "allowKeywords": true }],
    "no-unused-vars": [2, { "vars": "all", "args": "after-used" }],
    "quotes": [2, "single", "avoid-escape"],
    "react/display-name": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 0,
    "react/prop-types": [0, { "ignore": [ "children", "className", "style" ] }],
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/wrap-multilines": 2,
    "react/jsx-uses-vars": 2,
    "no-trailing-spaces": 1,
    "no-cond-assign": 0,
    "semi": [0, "never"],
    "curly": 0,
    "eol-last": 0,
    "no-multi-spaces": 0,
    "no-unused-expressions": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "key-spacing": [0, { "beforeColon": false, "afterColon": true, mode: "minimum" }],
    "consistent-return": 0,
    "no-shadow": 0,
    "no-sequences": 0,
    "no-return-assign": 0,
    "strict": 0
  }
}
