legacy-peer-deps = true
registry = https://smartly.af/artifactory/api/npm/npm/
//smartly.af/artifactory/api/npm/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiI0RWN0NlZsTjYwOEJSYVRBVFloU0g1SkFaeVN6dUowNW9UUDc0a1hqTVFvIn0.eyJzdWIiOiJqZnJ0QDAxZGFjNDNmdG1lOWNlMWtjZW10MzUwZ2VwXC91c2Vyc1wvbnBtLXJlcG8iLCJzY3AiOiJtZW1iZXItb2YtZ3JvdXBzOm5wbS10b2tlbi1ncm91cCIsImF1ZCI6ImpmcnRAMDFkYWM0M2Z0bWU5Y2Uxa2NlbXQzNTBnZXAiLCJpc3MiOiJqZnJ0QDAxZGFjNDNmdG1lOWNlMWtjZW10MzUwZ2VwXC91c2Vyc1wvYWRtaW4iLCJpYXQiOjE2MzU4NjI4NjksImp0aSI6IjY5NWI2YTgxLThjMDktNGRhOC1hZjdlLTJhMGM5MmYyZDRlOCJ9.TeekIOW6E4xxS_efMjysU__Hefe_wgFmzhpB9HVCCYjAOMVsinIotot0JXKQFsl49Q-BGfiZQ1ldUampEtNI4cqT3EposS24X2Xt6m5IvZKPpx0AZZdRlsILdcADbXsrJO27zrYhKstcAx1QsUD7F3bN8Y35Wb_jfOiaSg45w1b1dpGXBACmNuwk8n5dJ5dBu_r2A6W_I01By9J1bqSxFL_UNYCbXXC2P4yFgBgFU6Xkayf9bOv3DBslSYIhjJtMvr5e8B8lDq05Qj-hW1uoZj40zH8xCeiEeLg0ca9RRqUQbCR9s0Pb1u3hhiV_AfcyzCMbc5a0N4KSELR1f0xTyQ
always-auth = true
