version: 1.0.{build}
environment:
  COVERALLS_REPO_TOKEN: 9RRu36GLfbnk5Ri6Y6FpoZU10CW6dlIfy
  COVERALLS_SERVICE_NAME: appveyor
  COVERALLS_GIT_COMMIT: $(APPVEYOR_REPO_COMMIT)
  COVERALLS_GIT_BRANCH : $(APPVEYOR_REPO_BRANCH)
  COVERALLS_SERVICE_JOB_ID  : $(APPVEYOR_BUILD_ID)
  COVERALLS_SERVICE_PULL_REQUEST : $(APPVEYOR_PULL_REQUEST_NUMBER)
shallow_clone: true

# Install scripts. (runs after repo cloning)
install:
  # Get the latest stable version of Node.js or io.js
  - ps: Install-Product node $env:nodejs_version
  - npm -g install npm@2.11.3
  - set PATH=%APPDATA%\npm;%PATH%
  - npm install -g gulp
  - npm install
  - gulp flow-win

# Post-install test scripts.
test_script:
  # Output useful info for debugging.
  - node --version
  - npm --version
  # run tests
  - gulp test --release true
  - gulp coveralls

# Don't actually build.
build: off

cache:
  - C:\Users\appveyor\AppData\Roaming\npm\node_modules -> package.json  # global npm modules
  - C:\Users\appveyor\AppData\Roaming\npm-cache -> package.json         # npm cache
  - node_modules -> package.json                                        # local npm modules
