.rdg-cell {
  contain: strict;
  contain: size layout style paint;
  position: absolute;
  height: inherit;
  padding: 0 8px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rdg-cell-frozen {
  position: sticky;
  /* Should have a higher value than 0 to show up above unfrozen cells */
  z-index: 1;
}
.rdg-cell-frozen-last {
  box-shadow: 2px 0 5px -2px rgba(136, 136, 136, 0.3);
}
.rdg-cell-selected {
  box-shadow: inset 0 0 0 2px var(--selection-color);
}
.rdg-cell-copied {
  background-color: #ccccff;
}
.rdg-cell-drag-handle {
  cursor: move;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  background-color: var(--selection-color);
}
.rdg-cell-drag-handle:hover {
  width: 16px;
  height: 16px;
  border: 2px solid var(--selection-color);
  background-color: var(--background-color);
}
.rdg-cell-dragged-over {
  background-color: #ccccff;
}
.rdg-cell-copied.rdg-cell-dragged-over {
  background-color: #9999ff;
}
.rdg-cell-editing {
  padding: 0;
}
.rdg-checkbox-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: 1px;
}
.rdg-checkbox-label-disabled {
  cursor: default;
}
.rdg-checkbox-label-disabled .rdg-checkbox {
  border-color: var(--checkbox-disabled-border-color);
  background-color: var(--checkbox-disabled-background-color);
}
.rdg-checkbox-input {
  all: unset;
  width: 0;
  margin: 0;
}
.rdg-checkbox {
  content: '';
  width: 20px;
  height: 20px;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
}
.rdg-checkbox-input:checked + .rdg-checkbox {
  background-color: var(--checkbox-color);
  box-shadow: inset 0px 0px 0px 4px var(--background-color);
}
.rdg-checkbox-input:focus + .rdg-checkbox {
  border-color: var(--checkbox-focus-color);
}
.rdg {
  --color: #000;
  --border-color: #ddd;
  --summary-border-color: #aaa;
  --background-color: #fff;
  --header-background-color: #f9f9f9;
  --row-hover-background-color: #f5f5f5;
  --row-selected-background-color: #dbecfa;
  --row-selected-hover-background-color: #c9e3f8;
  --checkbox-color: #005295;
  --checkbox-focus-color: #62b8ff;
  --checkbox-disabled-border-color: #ccc;
  --checkbox-disabled-background-color: #ddd;
  --selection-color: #66afe9;
  --font-size: 14px;
  contain: strict;
  contain: size layout style paint;
  content-visibility: auto;
  height: 350px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: scroll;
  -webkit-user-select: none;
  user-select: none;
  background-color: var(--background-color);
  color: var(--color);
  font-size: var(--font-size);
}
.rdg *,
.rdg *::before,
.rdg *::after {
  box-sizing: inherit;
}
.rdg.rdg-dark {
  --color: #ddd;
  --border-color: #444;
  --summary-border-color: #555;
  --background-color: #222;
  --header-background-color: #1c1c1c;
  --row-hover-background-color: #181818;
  --row-selected-background-color: #1a73bc;
  --row-selected-hover-background-color: #1868aa;
  --checkbox-color: #95cfff;
  --checkbox-focus-color: #c8e6ff;
  --checkbox-disabled-border-color: #000;
  --checkbox-disabled-background-color: #333;
}
@media (prefers-color-scheme: dark) {
  .rdg:not(.rdg-light) {
    --color: #ddd;
    --border-color: #444;
    --summary-border-color: #555;
    --background-color: #222;
    --header-background-color: #1c1c1c;
    --row-hover-background-color: #181818;
    --row-selected-background-color: #1a73bc;
    --row-selected-hover-background-color: #1868aa;
    --checkbox-color: #95cfff;
    --checkbox-focus-color: #c8e6ff;
    --checkbox-disabled-border-color: #000;
    --checkbox-disabled-background-color: #333;
  }
}
@supports not (contain: strict) {
  .rdg {
    position: relative;
    z-index: 0;
  }
}
.rdg-focus-sink {
  position: sticky;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  outline: 0;
}
.rdg-viewport-dragging .rdg-row {
  cursor: move;
}
.rdg-editor-container {
  display: contents;
}
.rdg-text-editor {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0px 6px 0 6px;
  border: 2px solid #ccc;
  vertical-align: top;
  color: var(--color);
  background-color: var(--background-color);
  font-family: inherit;
  font-size: var(--font-size);
}
.rdg-text-editor:focus {
  border-color: var(--selection-color);
  outline: none;
}
.rdg-text-editor::placeholder {
  color: #999;
  opacity: 1;
}
.rdg-header-row,
.rdg-filter-row {
  contain: strict;
  contain: size layout style paint;
  display: flex;
  width: var(--row-width);
  position: sticky;
  background-color: var(--header-background-color);
  font-weight: bold;
  z-index: 3;
}
.rdg-header-row {
  height: var(--header-row-height);
  line-height: var(--header-row-height);
  top: 0;
  touch-action: none;
}
.rdg-filter-row {
  height: var(--filter-row-height);
  line-height: var(--filter-row-height);
  top: var(--header-row-height);
}
.rdg-cell-resizable::after {
  content: "";
  cursor: col-resize;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
}
.rdg-header-sort-cell {
  cursor: pointer;
  display: flex;
}
.rdg-header-sort-name {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rdg-row {
  contain: strict;
  contain: size layout style paint;
  display: flex;
  position: absolute;
  left: 0;
  width: var(--row-width);
  height: var(--row-height);
  line-height: var(--row-height);
  background-color: var(--background-color);
}
.rdg-row:hover {
  background-color: var(--row-hover-background-color);
}
.rdg-row-selected {
  background-color: var(--row-selected-background-color);
}
.rdg-row-selected:hover {
  background-color: var(--row-selected-hover-background-color);
}
.rdg-summary-row {
  position: sticky;
  z-index: 3;
}
.rdg-summary-row > .rdg-cell {
  border-top: 2px solid var(--summary-border-color);
}
.rdg-group-row:not(.rdg-row-selected) {
  background-color: var(--header-background-color);
}
.rdg-group-row > .rdg-cell:not(:last-child):not(.rdg-cell-frozen-last) {
  border-right: none;
}
.rdg-group-row-selected::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 0 2px var(--selection-color);
  pointer-events: none;
  z-index: 2;
}
.rdg-group-row-selected > .rdg-cell:first-child {
  box-shadow: inset 2px 0 0 0 var(--selection-color);
}
.rdg-group-cell-content {
  outline: none;
}
.rdg-caret {
  margin-left: 4px;
  stroke: currentColor;
  stroke-width: 1.5px;
  fill: transparent;
  vertical-align: middle;
}
.rdg-caret > path {
  transition: d 0.1s;
}

body,
html {
  padding: 0 !important;
  margin: 0 !important;
  font-family: sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding: 8px;
}
.fill-grid {
  height: 100%;
}
.small-grid {
  height: 300px;
}
.big-grid {
  height: 600px;
}
@media (prefers-color-scheme: light) {
  :root {
    background-color: #fff;
    color: #111;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    background-color: #111;
    color: #fff;
  }
}
.rdg-cell .Select {
  max-height: 30px;
  font-size: 12px;
  font-weight: normal;
}

.all-features {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.all-features > .rdg {
  flex: 1;
}
.highlight .rdg-cell {
  background-color: #9370DB;
  color: white;
}
.highlight:hover .rdg-cell {
  background-color: #800080;
}
.load-more-rows-tag {
  width: 180px;
  padding: 8px 16px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: white;
  line-height: 35px;
  background: rgba(0, 0, 0, 0.6);
}

.rdg-image-cell {
  background: #efefef;
  background-size: 100%;
  display: inline-block;
  height: 28px;
  width: 28px;
  vertical-align: middle;
  background-position: center;
}
.rdg-image-cell-wrapper {
  display: flex;
  justify-content: space-around;
}

.rdg-cell-action {
  float: right;
}
.rdg-cell-action-last {
  margin-right: -8px;
}
.rdg-cell-action-button {
  width: 35px;
  height: 100%;
  text-align: center;
  position: relative;
  display: table;
  color: #4a9de2;
}
.rdg-cell-action-button > span {
  display: table-cell;
  vertical-align: middle;
}
.rdg-cell-action-button:hover,
.rdg-cell-action-button-toggled {
  color: #447bbb;
}
.rdg-cell-action-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px 0 #ccc;
}
.rdg-cell-action-menu > span {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.rdg-cell-action-menu > span:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.rdg-cell-expand {
  float: right;
  display: table;
  height: 100%;
}
.rdg-cell-expand > span {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}
.rdg-child-row-action-cross:before,
.rdg-child-row-action-cross:after {
  content: "";
  position: absolute;
  background: grey;
}
.rdg-child-row-action-cross:before {
  left: 21px;
  width: 1px;
  height: 100%;
}
.rdg-child-row-action-cross:after {
  top: 50%;
  left: 20px;
  height: 1px;
  width: 15px;
}
.rdg-child-row-action-cross:hover {
  background: red;
}
.rdg-child-row-btn {
  cursor: pointer;
  position: absolute;
  left: 21px;
  transform: translateX(-50%);
  filter: grayscale(1);
}

.react-contextmenu {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  color: #373a3c;
  font-size: 16px;
  margin: 2px 0 0;
  min-width: 160px;
  outline: none;
  opacity: 0;
  padding: 5px 0;
  pointer-events: none;
  text-align: left;
  transition: opacity 250ms ease !important;
}
.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
}
.react-contextmenu-item {
  background: 0 0;
  border: 0;
  color: #373a3c;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  padding: 3px 20px;
  text-align: inherit;
  white-space: nowrap;
}
.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
  text-decoration: none;
}
.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
  color: #878a8c;
}
.react-contextmenu-item--divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: inherit;
  margin-bottom: 3px;
  padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
}
.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}
.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}
.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}

.header-filters-example {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}
.header-filters-example > .rdg {
  flex: 1;
}
.header-filters-toolbar {
  text-align: end;
}
.rdg-filter-container {
  display: flex;
  height: inherit;
  align-items: center;
}
.rdg-filter {
  width: 100%;
  padding: 4px;
  font-size: 14px;
}

.rdg-row-dragging {
  opacity: 0.5;
}
.rdg-row-over {
  background-color: #ececec;
}

.grouping-example {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}
.grouping-example > .rdg {
  flex: 1;
}


/*# sourceMappingURL=0.a260e8f6a162532c1ec1.css.map*/