.rdg-cell {
  display: inline-block;
  position: absolute;
  height: inherit;
  padding: 0 8px;
  border-right: 1px solid @borderColor;
  border-bottom: 1px solid @borderColor;
  background-color: inherit;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rdg-cell-frozen {
  /* Should have a higher value than 1 to show in front of cell masks */
  z-index: 2;

  @supports (position: sticky) or (position: -webkit-sticky) {
    & {
      position: -webkit-sticky;
      position: sticky;
    }
  }
}

.rdg-cell-frozen-last {
  box-shadow: 2px 0 5px -2px rgba(136, 136, 136, .3);
}

.rdg-cell-mask {
  position: absolute;
  pointer-events: none;
  outline: none;
}
