.rdg-header-row,
.rdg-filter-row {
  contain: strict;
  contain: size layout style paint;
  display: flex;
  width: var(--row-width);
  position: sticky;
  background-color: var(--header-background-color);
  font-weight: bold;
  z-index: 3;
}

.rdg-header-row {
  height: var(--header-row-height);
  line-height: var(--header-row-height);
  top: 0;
  touch-action: none;
}

.rdg-filter-row {
  height: var(--filter-row-height);
  line-height: var(--filter-row-height);
  top: var(--header-row-height);
}

.rdg-cell-resizable::after {
  content: "";
  cursor: col-resize;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
}

.rdg-header-sort-cell {
  cursor: pointer;
  display: flex;
}

.rdg-header-sort-name {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
