.react-grid-Container {
  clear: both;
  margin-top: 0;
  padding: 0;
}

.react-grid-Toolbar {
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 1px 1px 1px;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  height: 48px;
}

.react-grid-Toolbar .btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
}

.react-grid-Toolbar .btn:hover {
  color: inherit;
  border: 1px solid #d2d2d2;
}


.react-grid-Toolbar .tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: relative;
  padding: 0;
  margin-top: -6px;
}

.react-grid-Main {
  background-color: #ffffff;
  color: inherit;
  padding: 0px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px;yy
  clear : both;
}

.react-grid-Grid {
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.react-grid-Cell--locked-right {
  border-left: 2px dotted #dddddd;
  box-shadow: none;
}

.react-grid-Canvas {
  background-color: #ffffff;
}
.react-grid-Cell {
  background-color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
  border-top: 1px solid #dddddd;
}
.react-grid-Cell:not(.editing) .react-grid-Cell__value {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.react-grid-Canvas.opaque .react-grid-Cell:not(.editing) {
  opacity: 0.4;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.react-grid-Cell__value ul {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}
.react-grid-Cell__value .btn-sm {
  padding: 0;
}
.react-grid-Cell.copied {
  background: rgba(0, 0, 255, 0.2) !important;
  -webkit-transition: 0.5s background;
}
.react-grid-Row:hover .react-grid-Cell {
  background-color: #f2f2f2;
}
.react-grid-Cell--locked:last-of-type {
  border-right: 1px solid #dddddd;
  box-shadow: none;
}
.react-grid-Cell.editing {
  padding: 0;
  overflow: visible !important;
}
.react-grid-Cell.editing .has-error input {
  border: 2px red solid !important;
  border-radius: 2px !important;
}
.react-grid-Cell input.editor-main,
select.editor-main {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.react-grid-Cell input.editor-main:focus,
select.editor-main:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.react-grid-Cell input.editor-main::-moz-placeholder,
select.editor-main::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.react-grid-Cell input.editor-main:-ms-input-placeholder,
select.editor-main:-ms-input-placeholder {
  color: #999999;
}
.react-grid-Cell input.editor-main::-webkit-input-placeholder,
select.editor-main::-webkit-input-placeholder {
  color: #999999;
}
.react-grid-Cell input.editor-main[disabled],
select.editor-main[disabled],
.react-grid-Cell input.editor-main[readonly],
select.editor-main[readonly],
fieldset[disabled] .react-grid-Cell input.editor-main,
fieldset[disabled] select.editor-main {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.react-grid-Cell input.editor-main,
textareaselect.editor-main {
  height: auto;
}

input.react-grid-CheckBox {
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.react-grid-HeaderCell input[type='checkbox'] {
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.react-grid-Header {
  box-shadow: 0px 0px 4px 0px #dddddd;
  background: #f9f9f9;
}
.react-grid-Header--resizing {
  cursor: ew-resize;
}
.react-grid-HeaderRow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.react-grid-HeaderCell {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #f9f9f9;
  padding: 8px;
  font-weight: bold;
  border-right: 1px solid #dddddd;
}
.react-grid-HeaderCell__value {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.react-grid-HeaderCell__resizeHandle:hover {
  cursor: ew-resize;
  background: #dddddd;
}
.react-grid-HeaderCell--locked:last-of-type {
  box-shadow: none;
}
.react-grid-HeaderCell--resizing .react-grid-HeaderCell__resizeHandle {
  background: #dddddd;
}
.react-grid-ScrollShim {
  z-index: 10002;
}
.react-grid-Cell.selected-draggable {
  border: 1px solid #66afe9;
  background: #eee;
}
.react-grid-cell .form-control-feedback {
  color: #a94442;
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 1000000;
  display: block;
  width: 34px;
  height: 34px;
}
.react-grid-Cell.was-dragged-over {
  border-right: 1px dashed black;
  border-left: 1px dashed black;
}
.react-grid-Cell.active-drag-cell {
  overflow: visible !important;
}
.react-grid-Cell.active-drag-cell .drag-handle {
  position: absolute;
  bottom: -5px;
  right: -4px;
  background: #66afe9;
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-right: 0px;
  border-bottom: 0px;
  z-index: 8;
  cursor: crosshair;
}
.react-grid-Cell.is-dragged-over-down {
  border-right: 1px dashed black;
  border-left: 1px dashed black;
  border-bottom: 1px dashed black;
}
.react-grid-Cell.is-dragged-over-up {
  border-right: 1px dashed black;
  border-left: 1px dashed black;
  border-top: 1px dashed black;
}
.react-grid-Cell.is-dragged-over-up .drag-handle {
  top: -5px;
}
.react-grid-Cell {
  border-right: 1px solid #eee;
}
.react-grid-Cell:last-child {
  border-right: none;
}
.react-grid-Cell:hover {
  background: #eee;
}
.react-grid-Cell.selected {
  border: 2px solid #66afe9;
  background: #eee;
  border-radius: 4px;
}
.react-grid-Cell:focus {
  outline: none;
}

.react-grid-image {
  background: #efefef;
  background-size: 100%;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.react-autocomplete-Autocomplete__search {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.react-autocomplete-Autocomplete__search:focus {
  border-color: #a21618;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(162, 22, 24, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(162, 22, 24, 0.6);
}
.react-autocomplete-Autocomplete__search::-moz-placeholder {
  color: #777777;
  opacity: 1;
}
.react-autocomplete-Autocomplete__search:-ms-input-placeholder {
  color: #777777;
}
.react-autocomplete-Autocomplete__search::-webkit-input-placeholder {
  color: #777777;
}
.react-autocomplete-Autocomplete__search[disabled],
.react-autocomplete-Autocomplete__search[readonly],
fieldset[disabled] .react-autocomplete-Autocomplete__search {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.react-autocomplete-Autocomplete__search {
  height: auto;
}
.react-autocomplete-Autocomplete__results {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: white;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  min-width: 250px;
  width: 100%;
  max-height: 200px;
  overflow: auto;
}
.react-autocomplete-Autocomplete__results.pull-right {
  right: 0;
  left: auto;
}
.react-autocomplete-Autocomplete__results .divider {
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.react-autocomplete-Autocomplete__results > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.6;
  color: #333333;
  white-space: nowrap;
}
.react-autocomplete-Autocomplete__results div.action-button {
  display: block !important;
  padding: 4px;
}
.react-autocomplete-Result {
  cursor: pointer;
}
.react-autocomplete-Result > a {
  text-decoration: none;
}
.react-autocomplete-Result--active {
  color: #262626;
  background-color: whitesmoke;
}

.react-grid-Cell.readonly {
  background-color : black;
}

.react-grid-Cell.strikethrough {
  color: red;
  text-decoration: line-through;
}

.react-grid-Cell.no-border {
  border: none;
}

.react-grid-Cell.bottom-border {
  border-top-style: none;
  border-right-style: none;
  border-bottom: 1px solid #dddddd;
}
