/* Header */
#head {
	background: #70B9B0 url( ../images/grid.png);
	min-height: 400px;
	text-align: center;
	padding-top: 100px;
	color: white;
	font-family: 'Roboto', sans-serif, Helvetica, Arial;
	font-weight: 300;
}

.main-grid {
	background : url( ../images/datagrid1.png) no-repeat center;
	background-position-y:inherit;
	height : 600px;
}

.main-logo {
	background: url(../images/AdazzleLogoWhite.png) no-repeat center;
	height: 89px;
	margin-bottom: -50px
}

.grid-examples {
	position : relative;
	top:200px;
	width : 500px;
	display : block;
	margin-left: auto;
	margin-right : auto;
	background-color:white;
	padding: 5px;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 3px solid #eee;
}

.grid-examples h3 {
	text-align : center;
}
.grid-examples ul {
	-moz-column-count : 2;
	-moz-column-gap :20px;
	-webkit-column-gap:20px;
	-webkit-column-count:2;
	column-count: 2;
	column-gap: 20px;
}

#head.secondary {
	height: 100px;
	min-height: 100px;
	padding-top: 0px;
}

#head .lead {
	font-family: "Open sans", Helvetica, Arial;
	font-size: 70px;
	margin-bottom: 6px;
	color: white;
	line-height: 1.15em;
}

#head .tagline {
	color: rgba(255,255,255,0.75);
	margin-bottom: 25px;
	font-size: 30px;
}

#head .tagline a {
	color: #fff;
}

#head .btn {
	margin-bottom: 10px;
}

#head .btn-default {
	text-shadow: none;
	background: transparent;
	color: rgba(255,255,255,.5);
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
	background: transparent;
}

#head .btn-default:hover,
#head .btn-default:focus {
	color: rgba(255,255,255,.8);
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
	box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
	background: transparent;
}

#head .btn-default:active,
#head .btn-default.active {
	color: #fff;
	-webkit-box-shadow: inset 0px 0px 0px 3px #fff;
	-moz-box-shadow: inset 0px 0px 0px 3px #fff;
	box-shadow: inset 0px 0px 0px 3px #fff;
	background: transparent;
}

.header-logo{
	width: 100px;
	margin-top: -9px;
	margin-right: -4px;
}

@media (max-width: 767px) {
	#head {
		min-height: 420px;
		padding-top: 160px;
	}

	#head .lead {
		font-size: 34px;
	}
}

.navbar {
	background-color : rgba(0, 0, 0, .8);
}

.navbar a {
	color : white;
}

.navbar a:hover {
	color : #111;
}

.nav .open a {
  color: #111;
}

/* Autohide navbar */
.slideUp {
	top: -100px;
}

.headroom {
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}


/* Highlights (in jumbotron in most cases) */
.highlight {
	margin-top: 40px;
}

.h-caption {
	text-align: center;
}

.h-caption i {
	display: block;
	font-size: 54px;
	color: #382526;
	margin-bottom: 36px;
}

.h-caption h4 {
	color: #382526;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.h-body {
}

body{
	font-family: 'Roboto', sans-serif, Helvetica, Arial;
}


/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif, Helvetica, Arial;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 30px;
}

blockquote {
	font-style: italic;
	font-family: Georgia;
	color: #999;
	margin: 30px 0 30px;
}

label {
	color: #777;
}

.thin {
	font-weight: 300;
}

.page-title {
	margin-top: 20px;
	font-weight: 300;
}

.text-muted {
	color: #888;
}

.breadcrumb {
	background: none;
	padding: 0;
	margin: 30px 0 0px 0;
}

ul.list-spaces li {
	margin-bottom: 10px;
}

/* Helpers */
.container-full {
	margin: 0 auto;
	width: 100%;
}

.top-space {
	margin-top: 60px;
}

.top-margin {
	margin-top: 20px;
}

img {
	max-width: 100%;
}

img.pull-right {
	margin-left: 10px;
}

img.pull-left {
	margin-right: 10px;
}

#map {
	width: 100%;
	height: 280px;
}

#social {
	margin-top: 50px;
	margin-bottom: 50px;
}

#social .wrapper {
	width: 340px;
	margin: 0 auto;
}

/* Main content block */
.maincontent {
}

/* Sidebars */
.sidebar {
	padding-top: 36px;
	padding-bottom: 30px;
}

.sidebar .widget {
	margin-bottom: 20px;
}

.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 {
	margin-top: 20px;
}

/* Footer */
.footer1 {
	background: #232323;
	padding: 30px 0 0 0;
	font-size: 12px;
	color: #999;
}

.footer1 a {
	color: #ccc;
}

.footer1 a:hover {
	color: #fff;
}

.footer1 .widget {
	margin-bottom: 30px;
}

.footer1 .widget-title {
	font-size: 17px;
	font-weight: bold;
	color: #ccc;
	margin: 0 0 20px;
}

.footer1 .entry-meta {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 0 0 35px 0;
	padding: 2px 0;
	color: #888888;
	font-size: 12px;
	font-size: 0.75rem;
}

.footer1 .entry-meta a {
	color: #333333;
}

.footer1 .entry-meta .meta-in {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.follow-me-icons {
	font-size: 30px;
}

.follow-me-icons i {
	float: left;
	margin: 0 10px 0 0;
}

.footer2 {
	background: #191919;
	padding: 15px 0;
	color: #777;
	font-size: 12px;
}

.footer2 a {
	color: #aaa;
}

.footer2 a:hover {
	color: #fff;
}

.footer2 p {
	margin: 0;
}

.widget-simplenav {
	margin-left: -5px;
}

.widget-simplenav a {
	margin: 0 5px;
}

.demo-btn{
	display:block;
	margin-left:auto
	margin-right:auto;
}

@media (min-width: 992px) {
	.bs-docs-sidebar .nav>.active>ul {
		display:block
	}

	.bs-docs-sidebar.affix,.bs-docs-sidebar.affix-bottom {
		width: 213px
	}

	.bs-docs-sidebar.affix {
		position: fixed;
		top: 100px
	}

	.bs-docs-sidebar.affix-bottom {
		position: absolute
	}

	.bs-docs-sidebar.affix .bs-docs-sidenav,.bs-docs-sidebar.affix-bottom .bs-docs-sidenav {
		margin-top: 0;
		margin-bottom: 0
	}
}

@media (min-width: 1200px) {
	.bs-docs-sidebar.affix,.bs-docs-sidebar.affix-bottom {
		width:263px
	}
}


@media (min-width: 768px) {
	.bs-docs-sidebar {
		padding-left:20px
	}
}

.bs-docs-sidenav {
	margin-top: 20px;
	margin-bottom: 20px
}

.bs-docs-sidebar .nav>li>a {
	display: block;
	padding: 4px 20px;
	font-size: 13px;
	font-weight: 500;
	color: #767676
}

.bs-docs-sidebar .nav>li>a:focus,.bs-docs-sidebar .nav>li>a:hover {
	padding-left: 19px;
	color: #563d7c;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid #563d7c
}

.bs-docs-sidebar .nav>.active:focus>a,.bs-docs-sidebar .nav>.active:hover>a,.bs-docs-sidebar .nav>.active>a {
	padding-left: 18px;
	font-weight: 700;
	color: #563d7c;
	background-color: transparent;
	border-left: 2px solid #563d7c
}

.bs-docs-sidebar .nav .nav {
	display: none;
	padding-bottom: 10px
}

.bs-docs-sidebar .nav .nav>li>a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: 400
}

.bs-docs-sidebar .nav .nav>li>a:focus,.bs-docs-sidebar .nav .nav>li>a:hover {
	padding-left: 29px
}

.bs-docs-sidebar .nav .nav>.active:focus>a,.bs-docs-sidebar .nav .nav>.active:hover>a,.bs-docs-sidebar .nav .nav>.active>a {
	padding-left: 28px;
	font-weight: 500
}

.top-space {
	margin-top : 60px
}

.docs-section{
	margin-bottom : 60px
}


.code-block .javascript .err {
	background-color: transparent;
	color: inherit
}

.code-block {
	position: relative;
	margin-bottom: 14px;
	padding: 30px 14px 14px;
	border: none;
	border-radius: 0;
	overflow: auto
}

.code-block pre {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	background-color: transparent;
	border: 0
}

.code-block pre code {
	display: block;
	background: none;
	padding: 0
}

.code-block pre .lineno {
	display: inline-block;
	width: 22px;
	padding-right: 5px;
	margin-right: 10px;
	color: #bebec5;
	text-align: right
}

.code-block:after {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	color: #c2c0bc;
	background-color: #f1ede4;

}

.code-block.function:after{
	content: "Function Definition"
}

.code-block.flow:after {
	content: "Flow interface definitions"
}

.code-block.js:after {
	content: "Code"
}

.code-block.function{
	color: #333333;
	background: #f8f5ec;
}

.code-block.js{
	color: #333333;
	background: lemonchiffon;
}

.code-block.flow{
	color: blue;
	background-color : rgba(226, 141, 49, 0.1);
}

.github-ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	width: 149px;
	height: 149px;
}

code.tab1{
	margin-left:3px;
}
code.tab2{
	margin-left:6px;
}
code.tab3{
	margin-left:9px;
}
code.tab4{
	margin-left:12px;
}