.react-grid-Toolbar {
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px 1px 1px;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  height: 48px;
}
.react-grid-Toolbar .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
}
.react-grid-Toolbar .btn:hover {
  color: inherit;
  border: 1px solid #d2d2d2;
}
.react-grid-Toolbar .grouped-col-btn {
  background-color: #428bca;
  color: white;
  border-color: #2b669a;
}
.react-grid-Toolbar .grouped-col-btn:hover {
  color: white;
  border-color: #2b669a;
}
.react-grid-Toolbar .grouped-col-btn + .grouped-col-btn {
  margin-left: 5px;
}
.react-grid-Toolbar .grouped-col-btn__remove {
  margin-left: 5px;
}
.react-grid-Toolbar .tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: relative;
  padding: 0;
  margin-top: -6px;
}

.react-grid-Toolbar .add-or-remove-columns-button:before{
  font-family: FontAwesome;
  content:"\f0db";
}

.react-grid-Container .react-grid-Toolbar .tools{
  width: 100%;
}

.react-grid-Container .react-grid-Toolbar .columnStyles, .react-grid-Toolbar .columnStyles{
  right: 4px;
}

.button {
  font-size: 11px;
  text-align: center;
  line-height: 29px;
  min-width: 70px;
  width: auto;
  display: inline-block;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 3px;
  border: 1px solid #626262;
  margin-left: 0px;
  margin-right: 4px;
}

.button-small {
  padding-left: 8px;
  padding-right: 8px;
  line-height: 20px;
  outline: none;
}

.button-secondary {
  color: #333333;
  border: 1px solid #b0b0b0;
  /* fallback */
  background-color: #ededed;
  /* Good Ole IE 9 */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f7f7f7', endColorstr='#dadada');
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image: -webkit-linear-gradient(top, #f7f7f7, #dadada);
  /* Firefox 3.6 - 15 */
  background-image: -moz-linear-gradient(top, #f7f7f7, #dadada);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: linear-gradient(#f7f7f7, #dadada);
}
