.css-1aya2g8, .css-2o5izw{
    min-height: 30px !important;
    background-color: #ffffff !important;
}
.css-1wy0on6{
    height: 28px;
}
.css-rsyb7x{
    height: 15px;
}

.css-1492t68{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.css-1492t68 {
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: 85%;
}