:root,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

:root {
  color-scheme: light dark;

  @media (prefers-color-scheme: light) {
    background-color: #fff;
    color: #111;
  }

  @media (prefers-color-scheme: dark) {
    background-color: hsl(0deg 0% 10%);
    color: #fff;
  }
}

#root {
  display: grid;
  grid-template-columns: auto 1fr;
}

.fill-grid {
  block-size: 100%;
}
