.react-grid-Container {
  clear: both;
  margin-top: 0;
  padding: 0;
}

.react-grid-Grid {
  clear : both;
  padding: 0;
  background-color: #fff;
  color: inherit;
  border: 1px solid #ddd;
  outline: 1px solid #e7eaec;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.react-grid-Canvas {
  background-color: #fff;
}
