.react-grid-Container {
  clear: both;
  margin-top: 0;
  padding: 0;
}

.react-grid-Grid {
  position: relative;
  overflow: hidden;
  outline: none;
  clear : both;
  padding: 0;
  background-color: #fff;
  color: inherit;
  border: 1px solid #ddd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.react-grid-Canvas {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: scroll;
  background-color: #fff;
}
