.rdg-row {
  @bg: #fff;
  background-color: @bg;

  &:hover {
    background-color: darken(@bg, 4%);
  }
}

.rdg-row-selected {
  @bg: #dbecfa;
  background-color: @bg;

  &:hover {
    background-color: darken(@bg, 4%);
  }
}

.rdg-scrolling {
  pointer-events: none;
}

.rdg-row-expand-icon {
  cursor: pointer;

  &:hover {
    color: #777;
  }
}

.rdg-row-group {
  // FIXME: vertical padding should be (height - 1em) / 2
  padding-top: 16px;
  padding-left: 8px;
  border-bottom: 1px solid @borderColor;
}
