name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444
        with:
          node-version: 24
          check-latest: true
      - name: npm install
        run: npm i
      - name: Biome
        run: node --run biome:ci
      - name: Typecheck
        run: node --run typecheck
      - name: ESLint
        run: node --run eslint
      - name: Prettier
        run: node --run prettier:check
      - name: Bundle
        run: node --run build
      - name: Build website
        run: node --run build:website
      - name: Install Playwright Browsers
        run: npx playwright install chromium firefox
      - name: Test
        run: node --run test
        timeout-minutes: 4
      - name: Upload coverage
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Deploy gh-pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          git config --global user.email 'action@github.com'
          git config --global user.name 'GitHub Action'
          git fetch origin gh-pages
          git worktree add gh-pages gh-pages
          cd gh-pages
          git rm -r .
          mv ../dist/* .
          touch .nojekyll
          git add .
          git commit -m "gh-pages deployment" || echo "Nothing to commit"
          git push -f https://adazzle:${{secrets.GITHUB_TOKEN}}@github.com/adazzle/react-data-grid.git
