body, html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding: 8px;
}

.load-more-rows-tag {
  line-height: 35px;
  width: 180px;
  position: relative;
  top: -70px;
  padding: 8px 16px;
  background: rgba(0,0,0,0.6);
  color: white;
}
