body, html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding: 8px;
}

.fill-grid {
  height: 100%;
}

.small-grid {
  height: 300px;
}

.big-grid {
  height: 600px;
}
